.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    text-align: center;
}

/* .atividadeInfo{
    text-align: center;
    border: 1px solid #00AFEF;
    border-radius: 15px;
    padding: 10px;
    width: 60%;
} */
