.containerList{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    text-align: center;
}

.buttons{
    display: flex;
    gap: 2rem;
    justify-content: center;
    width: 100%;
}