.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  
  .profileInfo {
    text-align: left;
    margin-bottom: 20px;
    border: 1px solid #00AFEF;
    border-radius: 15px;
    padding: 20px;
    width: 60%;
  }

  .buttons{
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    width: 100%;
  }
  
  .profileInfo p {
    margin: 5px 0;
  }
  
  button{
    gap: 3rem;
  }